<configuration>

    <appender name="LOGSTASH" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>logstash</syslogHost>
        <facility>LOCAL0</facility>
        <suffixPattern>%logger{36} - %msg%n</suffixPattern>
    </appender>

    <root level="info">
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>